# Spark GroupBy & Aggregate Functions

In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('aggs').getOrCreate()

In [4]:
df = spark.read.csv('sales_info.csv', inferSchema=True, header=True)
df.show(5)

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
+-------+-------+-----+
only showing top 5 rows

In [5]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [6]:
df.groupBy('Company')

In [7]:
df.groupBy('Company')\
    .mean()\
    .show()

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [10]:
df.groupBy('Company')\
    .count()\
    .show()

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [11]:
df.agg({'Sales':'sum'})\
    .show()

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [14]:
group_data = df.groupBy('Company')
group_data.agg({'Sales':'max'})\
    .show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [15]:
from pyspark.sql.functions import countDistinct,avg,stddev

In [22]:
df.select(countDistinct('Sales').alias('distinct_sales'),\
          avg('Sales').alias('avg_sales'),\
          stddev('Sales').alias('sd_sales'))\
    .show()

+--------------+-----------------+------------------+
|distinct_sales|        avg_sales|          sd_sales|
+--------------+-----------------+------------------+
|            11|360.5833333333333|250.08742410799007|
+--------------+-----------------+------------------+

In [23]:
from pyspark.sql.functions import format_number

In [25]:
sales_sd = df.select(stddev('Sales').alias('sd'))
sales_sd.show()

+------------------+
|                sd|
+------------------+
|250.08742410799007|
+------------------+

In [28]:
sales_sd.select(format_number('sd',2).alias('sd'))\
    .show()

+------+
|    sd|
+------+
|250.09|
+------+

In [29]:
df.orderBy('Sales')\
    .show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [30]:
df.orderBy(df['Sales'].desc())\
    .show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+